<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
</head>
<body>
    <h1>Liste des utilisateurs</h1>
    <ul>
        <% users.forEach(user => { %>
            <li style="border: 2px solid #000; padding: 4px;">
                <strong>Id:</strong> <%= user._id %> <br>
                <strong>Name:</strong> <%= user.name %> <br>
                <strong>Email:</strong> <%= user.email %> <br>
                <a href="/users/<%= user._id %>/edit">Modifier</a>
                
                <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button type="submit">Supprimer</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <a href="/dashboard">Retour au tableau de bord</a>
</body>
</html>